.card {
  background-color: #464646;
  width: 90%;
  height: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5%;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(29, 29, 29);
}
.card-img-top {
  width: 100px;
  height: 70px;
  display: flex;
  margin-right: 10px;
}
.card-body {
  display: inline-flex;
  padding: 0.25rem;
  justify-content: space-between;
  align-items: center;
}

.btn.btn-primary.card-carrito {
  border-radius: 15px;
  background-color: rgb(43, 38, 38);
  border-color: rgb(105, 0, 0);
  border: 1px solid;
  cursor: pointer;
}

.divcarrito-lleno,
.align-items-center {
  align-items: normal !important;
}
